
$ehxd-neutral-50: #F8F9FC;
$ehxd-neutral-100: #EEEFF1;
$ehxd-neutral-200: #DADDE7;
$ehxd-neutral-300: #F1F2F8;
$ehxd-neutral-400: #E8EAF1;
$ehxd-neutral-500: #E3E6EF;
$ehxd-neutral-600: #DEE1EB;
$ehxd-neutral-700: #CDD0DA;
$ehxd-neutral-800: #C9CBCF;
$ehxd-neutral-900: #A0A1A7;
$ehxd-neutral-1000: #868A98;
$ehxd-neutral-1100: #666978;
$ehxd-neutral-1200: #1B1F35;

$ehxd-secondary-25: #F8F5FE;
$ehxd-secondary-50: #F0ECFD;
$ehxd-secondary-100: #E1D8FB;
$ehxd-secondary-200: #C4B1F7;
$ehxd-secondary-300: #A68AF3;
$ehxd-secondary-400: #8963EF;
$ehxd-secondary-500: #6B3CEB;
$ehxd-secondary-600: #6036D4;
$ehxd-secondary-700: #5630BC;
$ehxd-secondary-800: #4B2AA5;

$ehxd-gray-25: #F9FAFB;
$ehxd-gray-50: #F5F6F7;
$ehxd-gray-100: #EAECF0;
$ehxd-gray-200: #D6DAE1;
$ehxd-gray-300: #C1C7D1;
$ehxd-gray-400: #ADB5C2;
$ehxd-gray-500: #98A2B3;
$ehxd-gray-600: #8E99AA;
$ehxd-gray-700: #808B9C;
$ehxd-gray-800: #758195;
$ehxd-gray-outline: #D6DAE1;
$ehxd-gray-divider: #EAECF0;
$ehxd-gray-neutral: #FAFAFA;

$ehxd-primary-25: #F2F9FE;
$ehxd-primary-50: #E6F2FE;
$ehxd-primary-100: #CCE5FD;
$ehxd-primary-200: #99CBFA;
$ehxd-primary-300: #67B2F8;
$ehxd-primary-400: #3498F5;
$ehxd-primary-500: #017EF3;
$ehxd-primary-600: #0171DB;
$ehxd-primary-700: #0165C2;
$ehxd-primary-800: #0158AA;

$ehxd-success-25: #F3FAF8;
$ehxd-success-50: #E8F5F1;
$ehxd-success-100: #D1EAE4;
$ehxd-success-200: #A3D6C9;
$ehxd-success-300: #74C1AD;
$ehxd-success-400: #46AD92;
$ehxd-success-500: #189877;
$ehxd-success-600: #16896B;
$ehxd-success-700: #137A5F;
$ehxd-success-800: #116A53;

$ehxd-warning-25: #FFF9F3;
$ehxd-warning-50: #FEF4E6;
$ehxd-warning-100: #FDE8CD;
$ehxd-warning-200: #FBD29C;
$ehxd-warning-300: #F9BB6A;
$ehxd-warning-400: #F7A539;
$ehxd-warning-500: #F58E07;
$ehxd-warning-600: #DC8006;
$ehxd-warning-700: #C47206;
$ehxd-warning-800: #AC6305;

$ehxd-red-25: #FDF5F3;
$ehxd-red-50: #FCEBE6;
$ehxd-red-100: #F8D6CE;
$ehxd-red-200: #F1AE9D;
$ehxd-red-300: #EB856B;
$ehxd-red-400: #E45D3A;
$ehxd-red-500: #F04438;
$ehxd-red-600: #C72F08;
$ehxd-red-700: #B12A07;
$ehxd-red-800: #9B2406;

$ehxd-dark-25: #F0F0F1;
$ehxd-dark-50: #D9DADC;
$ehxd-dark-100: #C0C2C4;
$ehxd-dark-200: #8D9095;
$ehxd-dark-300: #5A5F66;
$ehxd-dark-400: #2C3C4E;
$ehxd-dark-500: #253241;
$ehxd-dark-600: #1C2732;
$ehxd-dark-700: #151D26;
$ehxd-dark-800: #11171D;