.ehxd-admin-page {
    margin-left: -20px;
    .ehxd-main-menu {
        background-color: $ehxd_background_color;
        border-bottom: 1px solid $ehxd-neutral-500;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ehxd-menu-logo {
            h3 {
                @include text($color: $ehxd-primary-500, $size: 22px, $weight: 800, $lineHeight: 28px);
            }
        }
        .ehxd-menu-item {
            text-decoration: none;
            padding: 10px 16px;
            border-radius: 8px;
            @include text($color: $ehxd-dark-500, $size: 15px, $weight: 500, $lineHeight: 22px);
          &:hover{
            color: $ehxd-primary-500;
          }
          &:focus{
            box-shadow: none;
          }
          &.router-link-exact-active {
            background:  $ehxd-primary-50;
            color: $ehxd-primary-500;
          }
        
          
        }
    }
}